*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.contact-section {
    background-color: white;
  width: 100%;
  
  font-family: Arial, Helvetica, sans-serif;
  color: #111111;
}


.contact-title {
    padding-top: 30px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.contact-line {
 
  border-top: 1px solid #e5e5e5;
  margin: 60px 60px;
  width: calc(100% - 120px);
}


.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}


.contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.info h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.info p {
  font-size: 14px;
  line-height: 1.8;
  color: #333333;
  margin: 0;
}

.info a {
  color: #333333;
  text-decoration: none;
}





.contact h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}

.contact p {
  font-size: 13px;
  color: #555555;
  line-height: 1.5;
  margin-bottom: 40px;
}


.contact-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form {
  display: flex;
  gap: 30px;
  width: 100%;
}


.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 13px;
  color: #333333;
  margin-bottom: 8px;
}

.input-group input,
.input-group textarea {
  border: none;
  border-bottom: 1px solid #000000;
  background: transparent;
  padding: 6px 0;
  font-size: 14px;
  outline: none;
  font-family: inherit;
  resize: none;
  transition: border-color 0.2s ease;
}



.submit-btn {
  background-color: #6d28d9;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px 45px;
  cursor: pointer;
  align-self: flex-start;
  border: 1px solid #6d28d9;
  transition:  0.3s ;
}

.submit-btn:hover {
  background-color: #fcfbfd;
color: #6d28d9;
}


@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    gap: 40px;
  }

  .form-row {
    flex-direction: column;
    gap: 25px;
  }
}